@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
 
    font-family:'Roboto Mono', monospace; 
    font-size: 16px;
    background-color: tan;
    min-height: 100vh;
   
}

#output{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 0.5em;
}

.nav-bar{
    background-color:  #333;
    color: #fff;
    font-weight: bolder;
    padding: 2.5rem;
      
}
a {
    color: #fff;
    padding: 1.5rem;
    text-decoration: none;
}

h1{
    color:#333;
    font-weight: bolder;
    text-align: center;
}

.header {
    display: inline;
    padding: 0.5rem;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 2rem;
    margin-left: 22rem; 
    padding-left: 100px;
   
}

label{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1rem;
    
}

input, button{
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 2.5em;
}

.button, .hypo-btn , .submit-btn{
    background-color: blue;
    color: #fff;
}

.quiz-container {
 border: 3px solid black;
 width: 100%;
 margin: 15px;
}
